<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'apptrans.title' | translate }}</h1>
      <div class="actions">
        <a mat-raised-button class="actions-main" color="primary" routerLink="../features">
          {{ 'apptrans.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples">
          {{ 'apptrans.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings">
          {{ 'apptrans.about.change-theme' | translate }}
        </a>
        <br>
        <span>{{ 'apptrans.about.check-blogs' | translate }}</span>
        <br>
        <a mat-raised-button target="_blank" href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Material Theming
        </a>
        <a mat-raised-button target="_blank" href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Angular Cli Tips
        </a>
        <a mat-raised-button target="_blank" href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Ngrx Typescript Tips
        </a>
        <a mat-raised-button target="_blank" href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          App Loading Style
        </a>
      </div>
      <div class="actions">
          <button class="actions-main" mat-raised-button>Basic</button>
          <button class="actions-main" mat-raised-button color="primary">Primary</button>
          <button class="actions-main" mat-raised-button color="accent">Accent</button>
          <button class="actions-main" mat-raised-button color="warn">Warn</button>
          <button class="actions-main" mat-raised-button disabled>Disabled</button>
      </div>
  </div>
</div>
  