<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 entry">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/" mat-stroked-button>
                      <mat-icon fontSet="fas" fontIcon="fa-home"></mat-icon>
                      Take Me Home 
                    </a>
                    <a routerLink="about" mat-stroked-button color="accent">
                      <mat-icon fontSet="fas" fontIcon="fa-envelope-open"></mat-icon>
                      Contact Support 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>